.about-page {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.about-outer {
  display: flex;
  gap: 20px;
  height: 100%;
  align-items: stretch;
}

.about-outer>img {
  width: 50%;
  border-radius: 12px;
}

.about-form {
  background: #fff;
  margin: 0 20px;
  padding: 20px 6px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 40%;
  overflow: hidden;

}

.about-form>form {
  height: 100%;
  display: flex;
  transition: all 350ms;
}

.about-card>h2 {
  margin-bottom: 45px;
}

.about-card>h3 {
  padding: 0 10px;
}

.about-card {
  flex: 0 0 100%;
  position: relative;
  height: 100%;
}

.about-form input {
  border: none;
  outline: none;
  width: 90%;
  margin-bottom: 25px;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
}

.about-form textarea {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  resize: none;
  outline: none;
  border: none;

  width: 90%;
  height: 85%;
  font-size: 16px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.about-form-btn {
  background-color: rgb(229, 22, 70);
  padding: 10px 32px;
  font-size: 18px;
  position: absolute;
  border: none;
  border-radius: 5px;
  right: 30px;
  bottom: 40px;
  color: white;
  cursor: pointer;
}

input[type="radio"]:focus {
  outline: 0;
  border-color: #2260ff;
  box-shadow: 0 0 0 4px #b5c9fc;
}

.mydict div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  justify-content: center;
}

.mydict input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.mydict input[type="radio"]:checked+span {
  box-shadow: 0 0 0 0.0625em #0043ed;
  background-color: #dee7ff;
  z-index: 1;
  color: #0043ed;
}

label span {
  display: block;
  cursor: pointer;
  background-color: #fff;
  padding: 0.375em .75em;
  position: relative;
  margin-left: .0625em;
  box-shadow: 0 0 0 0.0625em #b5bfd9;
  letter-spacing: .05em;
  color: #3e4963;
  text-align: center;
  transition: background-color .5s ease;
}

label:first-child span {
  border-radius: .375em 0 0 .375em;
}

label:last-child span {
  border-radius: 0 .375em .375em 0;
}