@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Gloria+Hallelujah&display=swap');

.diary-main {
  background-color: #ddd;
  display: flex;
  justify-content: center;
}

.page {
  font-family: "Inter", sans-serif;
  color: #3b3b3b;

  width: 800px;
  min-height: 1132px;
  background-color: white;
  margin: 75px auto;
  padding: 35px 55px;
  border-radius: 20px;
  box-shadow: 10px 8px 0 2px #f3f3f3, 18px 10px 0 2px #e6e6e6;

  display: flex;
  flex-direction: column;
  position: relative;
}

.punchholes {
  display: flex;
  justify-content: space-evenly;
  margin: 0 -35px 40px -35px;
}

.login-btn{
  font-weight: 500;
  font-size: 16px;
  padding: 8px 22px;
  border-radius: 25px;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
}
.punchholes>div {
  width: 20px;
  height: 20px;
  background-color: #d5d5d5;
  box-shadow: inset 3px 2px 0 2px #f3f3f3, inset 2px 1px 0 2px #e6e6e6;
  border-radius: 50%;
  border: none;
}

.date {
  font-size: 20px;
  margin-right: 20px;
  padding-top: 25px;
  padding-bottom: 15px;
  border-bottom: dashed #aaa;
}

.page>h1 {
  font-size: 38px;
}

textarea {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  resize: none;
  outline: none;
  border: none;

  width: 100%;
  height: 200px;
  font-size: 30px;
  font-family: "Caveat", cursive;
}

.page-form-btn {
  position: fixed;
  top: 87vh;
  right: 50px;

  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: transparent;
}

.page-form-btn>img {
  border-radius: 50%;
  background-color: #222;
  padding: 12px;
  width: 25px;
  aspect-ratio: 1;
  transition: scale 150ms;
}

.page-form-btn>img:hover {
  scale: 1.1
}

#popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -35%);
  padding: 30px;
  border-radius: 10px;
  border-color: black;
  z-index: 1000;
  font-family: "Inter", sans-serif;
  color: white;
  

  width: 900px;
  background-color: #676767;
  margin: 75px auto;
}
#popup>h3 {
  text-align: center;
}
#popup>button {
  padding: 8px 22px;
  border-radius: 25px;
  background-color: black;
  border: 1px solid white;
  cursor: pointer;
  margin-top: 20px;
}

#popup>button>a{
  color: white;
  text-decoration: none;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 35px;
  gap: 40px;
}
.image img{
  border-radius: 10px;
  width: 300px;
  object-fit: cover;

}

.text-val{
  display: flex;
  flex-direction: column;

}
.sug>ul {
  display: flex;
  flex-direction: column;


}

.font-playfair {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}