<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{ user}} </h2>
    <h1>Fill in the form below</h1>

    <form action="/about" method="post">
        <input type="text" name="name" id="name" placeholder="Name">
        <input type="text" name="age" id="age" placeholder="Age">
        <input type="text" name="sex" id="sex" placeholder="Sex">
        <input type="text" name="calm" id="calm" placeholder="What makes you calm?">
        <input type="text" name="hobby" id="hobby" placeholder="What are your hobbies?">
        <input type="text" name="person" id="person" placeholder="Who or what makes you the most comfortable on earth?">
        <button type="submit">Submit</button>
    </form>
</body>
</html>