<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/base.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>ZenPad</title>
  </head>
  <body>
    <div class="navbar">
      <div class="zenpad-logo font-playfair">
        <img src="../static/images/pen.svg" alt="pen" />
        <a href="/">ZenPad</a>
      </div>
      <div>
        {% if user: %}
        <a href="/logout"><button class="login-btn">logout</button></a>
        <a href="/index" class="username">{{ user }}</a>
        {% else: %}
        <a href="/login"><button class="login-btn">Login</button></a>
        <a href="/signup"><button class="signup-btn">Sign Up</button></a>
        {% endif %}
      </div>
    </div>
    {% block content %} {% endblock %}
  </body>
</html>
