
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/page.css" />
    <title>ZenPad</title>
  </head>
  <body class="diary-main">
      <div class="page">
        <div class="punchholes">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>

        <div class="date">{{ today }}</div>
        <!-- <h1>Feeling good!</h1> -->
        <form class="page-form" action="/diary" method="post">
          <textarea name = "entry" oninput="autogrow(this)" placeholder="How are you feeling today??"></textarea>
          <button class="page-form-btn" type="submit">
            <img src="../static/images/go.svg" alt="submt" />
          </button>
      </form>
      </div>
    </div>
    {% if prompt == True %}
    <div id="popup">
        <h1 class="font-playfair"> {{heading}} </h1>
        <div class="section">
            <div class="image">
                {% if mood == "happy" %}
                <img src="../static/images/happy.jpg" alt="happy" />
                {% elif mood == "sad" %}
                <img src="../static/images/sad.jpg" alt="sad" />
                {% elif mood == "productive" %}
                <img src="../static/images/productive.jpg" alt="angry" />
                {% elif mood == "lonely" %}
                <img src="../static/images/lonely.jpg" alt="neutral" />
                {% elif mood == "fustrated" %}
                <img src="../static/images/fustrated.jpg" alt="neutral" />
                {% else %}
                <img src="../static/images/happy.jpg" alt="neutral" />
                {% endif %}
            </div>
            <div class="text-val">
                <p>{{ trigger_section }}</p>

                <div class="sug">
                    <ul>
                        {% for i in suggestion %}
                        <li>{{ i }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

            <button><a href="/index">Go to Home</a></button>
        
    </div>
    {% endif %}
  </body>
  <script>
     function showPopup(event) {
            event.preventDefault(); // Prevent the form from submitting normally
            
            // Show the popup
            document.getElementById('popup').style.display = 'block';
            
            // You can add additional logic here such as submitting the form via AJAX
            
            // Optionally, you can redirect the user after a certain delay
            setTimeout(function() {
                window.location.href = '/index'; // Replace with your desired redirect URL
            }, 3000); // Redirect after 3 seconds (3000 milliseconds)
        }

    const autogrow = (elem) => {
      elem.style.height = elem.scrollHeight + "px";
    }
  </script>
</html>
