{% extends "base.html" %} {% block content %}
<div>
  <section class="main-section">
    <div class="hero">
      <h1 class="font-playfair">
        Discover Yourself With A Personalized Digital Diary.
      </h1>
      <p>
        Capture Moments, Reflect on Your Journey, and Ignite Personal Growth.
      </p>
      <button>Get Started Now</button>
    </div>
    <img src="../static/images/diary.jpg" alt="diary-img" />
  </section>

  <section class="features">
    <div class="feature">
      <h2>Accessibility</h2>
      <p>
        Access Your Diary On the Go from Any Device, Ensuring Seamless
        Availability.
      </p>
    </div>
    <div class="feature">
      <h2>Simplicity</h2>
      <p>
        Effortless, Capture Your Thoughts with Ease in a User-Friendly
        Interface.
      </p>
    </div>
    <div class="feature">
      <h2>Security</h2>
      <p>
        Keep Your Digital Diary Entries Confidential with Robust Encryption.
      </p>
    </div>
  </section>
</div>
{% endblock %}
