<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <title>ZenPad</title>
  </head>
  <body>
    <div class="navbar">
      <div class="zenpad-logo font-playfair">
        <img src="../static/images/pen.svg" alt="pen" />
        ZenPad
      </div>
      <div>
        <button class="login-btn">Login</button>
      </div>
    </div>
    {% block content %} {% endblock %}
  </body>
</html>

