{% extends "base.html" %} {% block content %}

<div class="index-page">
  <div class="side-bar">
    <h3>Past entries</h3>
    {% for i in val_past %}
    <div class="side-tile">{{i.heading}}</div>
    {% endfor %}
  </div>
  <div class="details">
    <div class="graph">
      <canvas id="myChart"></canvas>
    </div>
    {% if not today %}
    <div class="write-today">
      Uh oh! Forgot todays story?
      <button class="signup-btn">
        <a href="/diary">Write today's entry</a>
      </button>
    </div>
    {% endif %}
    <div class="history">
      {% for i in val_past %}
      <div class="history-tile">
        <div class="date">{{i.date_entry}}</div>
        <h3>{{i.heading}}</h3>
        <div>{{i.content}}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>

    const convertMood = (mood) => {
        switch(mood) {
            case 'lonely':
                 return '1';
               case 'sad':
                 return 2;
               case 'frustrated':
                 return 3;
               case 'productive':
                 return 4;
               case 'happy':
                 return 5;
        }
    }

  const labels = {{ mood_tracker | tojson}};
  labels.reverse()

  const mood_data = [];
  const dates = [];
  labels.forEach(e => {
      mood_data.push(convertMood(e['mood'].toLowerCase()))
      dates.push(new Date(e['date_entry']).toLocaleDateString('en-GB'))
  });

  const todayVar = {{ today | tojson}};

  const data = {
      labels: dates,
      datasets: [{
          label: 'Mood tracker',
          backgroundColor:  'rgb(229, 22, 70)',
          borderColor:  'rgb(229, 22, 70)',
          data: mood_data,
      }]
  };

  const config = {
      type: 'line',
      data: data,
      options: { maintainAspectRatio: false,
      scales:{

        y:{
          ticks:{
            min: 1,
           max: 5,
           stepSize: 1,
           suggestedMin: 1,
           suggestedMax: 5,
           callback: function(label, index, labels) {
             switch (label) {
               case 1:
                 return 'Lonely';
               case 2:
                 return 'Sad';
               case 3:
                 return 'Frustrated';
               case 4:
                 return 'Productive';
               case 5:
                 return 'Happy';
             }
           }
          }
        }
      } }
  };

  const myChart = new Chart(
      document.getElementById('myChart'),
      config
  );


  const removeHistory = () => {
    historyTiles.forEach(e => e.classList.remove("selected"))
  }


  const selectHistory = (e) => {
    historyTiles[e].classList.add("selected")
  }

  let current = 0;
  const historyTiles = [...document.getElementsByClassName("history-tile")];
  const sideTiles = [...document.getElementsByClassName("side-tile")];
  if(todayVar) selectHistory(current);

  console.log(historyTiles);
  console.log(sideTiles);


  sideTiles.forEach(e => {
    e.addEventListener("click", (event) => {
        current = sideTiles.indexOf(event.target);
        removeHistory();
        selectHistory(current);
    })
  })
</script>

<!-- <h1>User</h1>
{{user}}
<h1>Date</h1>
{{today}}

<h2>Mood tracker</h2>
{{mood_tracker}} {% for i in mood_tracker %}
<ul>
  <li>
    Date <br />
    {{i.date_entry}}
  </li>
  <li>
    Mood <br />
    {{i.mood}}
  </li>
</ul>
{% endfor %}

<h1>Past entries</h1>
{% for i in val_past %}
<ul>
  <li>
    Date <br />
    {{i.date_entry}}
  </li>
  <li>
    Heading <br />
    {{i.heading}}
  </li>
  <li>
    Content <br />
    {{i.content}}
  </li>
</ul>
{% endfor %} {% if today : %}
<h1>Todays input</h1>
<li>
  Date <br />
  {{val[0].date_entry}}
</li>
<li>
  Heading <br />
  {{val[0].heading}}
</li>
<li>
  Content <br />
  {{val[0].content}}
</li>

{% else %}
<button><a href="/diary">Write today's entry</a></button>
{% endif %} -->
{% endblock %}
