{% extends "base.html" %} {% block content%}
<div class="login-outer">
  <section class="login-form">
    <h1>Log in</h1>
    <form action="/login" method="post">
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter your email address..."
      />
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
      />
      <button type="submit" class="email-auth">Continue with email</button>
    </form>
    <div class="forgot-password"><a href="#">Forgot password?</a></div>
    <div class="login-signup">
      Dont have an account? <a href="/signup">Sign up Today</a>
    </div>
  </section>
  <footer>
    <p>
      By clicking "Continue with Email" above, you acknowledge that you have
      read and understood, and agree to ZapPad's
      <a href="#">Terms & Conditions</a> and <a href="#">Privacy Policy</a>.
    </p>
  </footer>
</div>

{% endblock %}
