<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/page.css" />
    <title>ZenPad</title>
  </head>
  <body class="diary-main">
      <div class="page">
        <div class="punchholes">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>

        <div class="date">{{ today }}</div>
        <!-- <h1>Feeling good!</h1> -->
        <form class="page-form" action="/diary" method="post">
          <textarea oninput="autogrow(this)" placeholder="How are you feeling today??"></textarea>
          <button class="page-form-btn" type="submit">
            <img src="../static/images/go.svg" alt="submt" />
          </button>
      </form>
      </div>
    </div>
  </body>

  <script>
    const autogrow = (elem) => {
      elem.style.height = elem.scrollHeight + "px";
    }
  </script>
</html>
