<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signup" method="post">
        <input type="email" name="email" id="email" placeholder="Email">
        <input type="password" name="password" id="password" placeholder="password">
        <input type="password" name="password2" id="password" placeholder="password">
        <button type="submit">SignUp</button>
    </form>
</body>
</html> -->

{% extends "base.html" %} {% block content%}
<div class="login-outer">
  <section class="login-form">
    <h1>SignUp</h1>
    <form action="/signup" method="post">
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter your email address..."
      />
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
      />
      <input
        type="password"
        id="password2"
        name="password2"
        placeholder="Confirm Password"
      />
      <button type="submit" class="email-auth">Continue with email</button>
    </form>
    <div class="login-signup">
      Already have an account?
      <a href="/login">Login</a>
    </div>
  </section>
  <footer>
    <p>
      By clicking "Continue with Email" above, you acknowledge that you have
      read and understood, and agree to ZapPad's
      <a href="#">Terms & Conditions</a> and <a href="#">Privacy Policy</a>.
    </p>
  </footer>
</div>

{% endblock %}
